@import '../../../../css/common.less';

.header{
	width:1000px;
	height:50px;
	margin:0 auto;
	li{
		width:200px;
		height:50px;
		line-height:50px;
		float:left;
		display:inline;
		font-size:18px;
		text-align:center;
		a{
			color:#000000;
			display:block;
		}
		.current{
			color:#ff0000;
		}
		.hover{
			color:#0000ff;
		}
	}
}